.content{
    background: url('image.jpeg');
    height:350vh;
    max-width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-image:center;
}
h1{
    font-size:80px;
    margin:20px;
    display:flex;
    align-items:center;
}

#addAnimal{
    background-color:antiquewhite;
    color:gray;
}

#animal-form{
    margin-left:30px;
    margin-bottom:30px;
}

#button-view{
    margin-left:30px;
}

button{
    color:gray;
    background-color:antiquewhite;
    border-radius:50%;
    cursor:pointer;
    padding:10px;
}
button:hover{
    background-color:darkslategray;
}

#gifs{
    margin-left:50px;
    color:white;
}

h3{
    text-align:center;
}